<div class="wrapper">
  <div class="header">
    <span class="header-item">
      <a class="" routerLink="/">
        Back
      </a>
    </span>

    <span class="header-item">
      Discover
    </span>

    <span class="header-item">
      <button class="">
        Filters
      </button>
    </span>

  </div>
  <div class="main">
    <div class="profile">
      ProfilePicture
    </div>
    <div class="action-panel">
      ButtonsPanel
    </div>
  </div>
  <div class="footer">
    AppNavigation
  </div>
</div>
