<div class="home-wrapper">

  <form class="home-form">

    <img src="./../../assets/images/logo.jpeg" alt="logo" class="home-logo">
  
    <h4 class="home-form__title">Sign up to continue</h4>

    <app-button>Continue with phone number</app-button>

    <h5 class="home-form__already-register">
      <span>Already have an account</span>
    </h5>
  
    <div class="home-form__links">
      <a class="home-form__link" routerLink="">Terms of use</a>
      <a class="home-form__link" routerLink="">Privacy policy</a>
    </div>

  </form>

</div>
