
.home-wrapper {

}

.home-logo {
    max-width: 100px;
    border-radius: 50%;
}

.home-form {
    margin-top: 30px;
    display: grid;
    justify-items: center;
    grid-row-gap: 30px;
}

.home-form__title {
    font-weight: bold;
    font-size: 18px;
}

.home-form__links {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 12px;
}

.home-form__link {
    text-align: center;
    color: #E94057;
}

.home-form__already-register {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    span {
        width: max-content;
        padding: 0 2px;
        background-color: #FFF;
    }
}

.home-form__already-register::after {
    content: '';
    z-index: -1;
    position: absolute;     
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    border-bottom: 1px solid #000;
}
