.app-button {
    background-color: #E94057;
    color: #FFF;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    text-align: center;
    padding: 15px 60px;
    border-radius: 10px;
}